<html>
	<head>
		<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<title>CS:GO Stats - About</title>
	</head>
	<body>
		<div>
			<div>
				<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
					<ul class="nav navbar-nav">
						<li><a class="navbar-brand" href="/">CS:GO Stats</a></li>
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/about">About<span class="sr-only">(current)</span></a></li>
					</ul>
				</nav>
			</div>
			<br/>
			<div class="container">
				<div class="span12 jumbotron">
					<h2>Devoir libre</h2>

					<h3>Description:</h3>
					<p class="lead">Ce devoir est à réaliser en binôme.

						Vous rendez un rapport en LaTeX au format .pdf détaillant une réalisation utilisant les éléments suivants :

						sources de données : crawling, traitement, manipulations, formats
						serveur de données : XML, noSQL, OWL
						serveur en node.js
						visualisation / interaction avec d3.js
						Exemples de  réalisation :

						visualisation de chaines de traitements réalisées par la plateforme ariane
						navigateur musical à partir des données de MusicBrainz, par exemple autour de la notion de tube
						visualisation de résultats d'expérience : un procédé informatique produit des résultats au format XML, contenant des données numériques à présenter dans un tableau, et des courbes à visualiser
						recommandation d'appels à contribution : on dispose de textes incitant à la participation à un événement, dans lesquels les dates, les destinations, les thèmes sont repérés.
						réalisation d'un wiki ou petit CMS avec stockage XML / noSQL / OWL
						valorisation d'un an de données de navigation depuis le département d'informatique
						Une fois le sujet identifié, vous validez avec l'enseignant l'architecture de votre application.

						La réalisation fait l'objet d'une présentation orale.
					</p>

					<h3>Links</h3>

					<a href="https://gitlab.com/dnr2i/csgostats">Git Lab</a><br>
					<a href="http://wiki.teamliquid.net/counterstrike/Main_Page">Liquipedia</a><br>
					<a href="http://foad2.unicaen.fr/moodle/course/view.php?id=14408&sesskey=ntLmfAa4Gu#section-9">Teaching</a>

				</div>
			</div>
		</div>
	</body>
</html>
