<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CS:GO Stats</title>

        <link rel="stylesheet" href="//bootswatch.com/yeti/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Jquery UI-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>

        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div>
            <div>
                <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                    <ul class="nav navbar-nav">
                        <li><a class="navbar-brand" href="/">CS:GO Stats</a></li>
                        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </nav>
            </div>
            <br/>
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </body>
</html>
