<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CS:GO Stats</title>

        <link rel="stylesheet" href="//bootswatch.com/flatly/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Jquery UI-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
        <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

        <script src="https://d3js.org/d3.v4.min.js"></script>

        <script src="/js/zoomableChart.js"></script>

        <link rel="stylesheet" href="/css/teamsChart.css">
    </head>
    <body>
        <h3>Total earning distribution by Countrie and Team</h3>
        <svg width="850" height="850"></svg>
    </body>

    <script type="text/javascript">
        $(document).ready(function() {
          loadZoomableChart();
        });
    </script>
</html>
